{% extends 'base.html'%}
{%block title%}{{todolists.name}}{%endblock title%}
{%block content%}
<main>
    <div>
        <h1>{{todolist_object.name}}</h1>
        <p><a href="{% url 'todo_list_update' todolist_object.id %}">Edit</a></p>
        <p><a href="{% url 'todo_list_delete' todolist_object.id %}">Delete</a></p>

        <h2>Tasks</h2>
        <table>
            <thead>
                <th>Task</th>
                <th>Due date</th>
            </thead>
            <tbody>
                {%for task in todolist_object.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' task.id  %}">{{task.task}}</a></td>
                    <td>{{task.due_date}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</main>
{%endblock content%}
